.userSec {
    background-color: powderblue;
    height: 8.75%;
    width: 98%;
    border: 5px outset black;
}
.userSec:after {
    display: table;
    clear: both;
    border: 1px solid red;
}

.userDoneSec{
    background-color: gray;
}
#admStat{
    height: 20px;
}
h4{
    margin:0em;
}

p {
    margin: 0em;
    font-size:70%;
}


.funkaa{
    height: 100%;
    width: 100%;
}
.splitter{
    float: left;
    width: 50%;
    height: 100%;
}

.column{
    float: left;
    width: 32%;
    padding: 2px;
}

#maleRight{
    margin-top: -4px;
}
#femaleRight{
    margin-top: -4px;
}

.adminHeader{
	border-bottom: 2px solid black;
	padding-bottom: 2px;
}

#adminHeaderLeft{
	align-self: left;
	position: absolute;
}

#adminHeaderRight{
	align-self: right;
	margin-left: 88%;
}

.adminFooter{
	border-top: 2px solid black;
	padding-bottom: 2px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.adminGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  grid-auto-rows: 160px;
}
.adminStatus {
    height: 40px;
    grid-column: 1;
    grid-row: 1;
    border: 2px solid black;
}
.adminCode {
    height: 40px;
    grid-column: 2/3;
    grid-row: 1;
    border: 2px solid black;
}
.adminParticipants {
    height: 800px;
    grid-column: 1 / 3;
    grid-row: 2 / 6;
    border: 2px solid black;
    margin-top: -110px;
}
.table{
    height: 6.4%;
    border: 2px solid black;
    padding: 10px;
    margin: 6.5px;
    text-align: center;
    font-size: 30px;
    background-color: red;
    font-family: arial;
    font-style: oblique;
}
.adminMatches {
    height: 854px;
    grid-column: 3 / 5;
    grid-row: 1 / 6;
    border: 2px solid black;
    width: 80%;
}
#tableSec{
    height: 854px;
    width: 15%;
    margin-left: 105%;
    margin-top: -3px;
}

.funkaa:after{
    content: "";
    display: table;
    clear: both;
}

#nextR {
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 10px;
}


#shuffle {
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 10px;
}

#Reset {
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 10px;
}

.rating{
    font-size: 1.5vh;
    position: absolute;
    margin-left:12%;
    margin-top:-1.5%;
    font-weight:bold;
    background-color: powderblue;
}

.rate{
    font-size: 1.5vh;
    position: absolute;
    margin-left:12%;
    margin-top: -2.5%;
    font-weight: bold;
    background-color: powderblue;
    width:8%;
}
HTML CSS JS 

Result 

EDIT ON

body {
  font-family: sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
}

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
