.button{
	font-size:3vh;
	margin-left: 26%;
}

#profile{
	font-size: 50px;
	font-weight: bold; 
}

#profile_desc{
	text-align: center; 
	margin-top: 3%;
	font-size: 2vh;
  color: white;
  font-style: oblique;

}

#profile_name{

    color: white;
    font-size: 5vh;
}

#timer{
	text-align: center;
	margin: 5%;
  color: pink;
}



p{
	text-align: center; 
}

.table{
	width: 7%;
	float: left;
	text-align: center;
	margin: 1%;
	border-style: solid;
	border-color: pink;
  color: pink;
  
}

#table1{
	background-color: green;
}

#tableSec{
	margin-left:4.5%;
	margin-top: -5%;
}

#table{
	margin-top: -4%;
}

#date1{
    
    color: pink;

    background-color: black;
    font-style: oblique;
}

#work_space{
    background-color: black;
}

#finishEarly{
    text-align: left;
    font-size:10px;
    float: right;

}
#dateHelp{
    position: absolute;
    font-size: 20px;
}
#img_here{

    
}

button:hover {

    background-color: green;
    cursor:pointer;

}
