#user_button{
    background-color: Transparent;
    width: 30%;
    height: 10%;
    border: none;
    cursor: pointer;
}

#message_button{
    background-color: Transparent;
    width: 30%;
    height: 10%;
    margin-left: 38%;
    border: none;
    cursor: pointer;
}

#heart_button{
    background-color: Transparent;
    width: 30%;
    height: 10%;
    margin-left: 27%;
	margin-top: 1%;
    border: none;
    cursor: pointer;	
}

#match{
	width: 50%;
	height: 10%;
	margin-left: 25%;
	font-size: 3.5vh;
	font-weight: bold;

}

#Heart_Pic{
	width: 150%;
}

#Traff_ID{
	margin-left: 18%;
	font-size: 3vh;
}

#User_Pic{
	width: 60%;
	margin-top: 10%;
}


#Message_Pic{
    width:60%;
    margin-top: 10%;
}

#signOut{
	font-size:3vh;
	margin-top:60%;
	margin-left:5%;
}