body{
    font-family: arial;
}

#work_space{
	width: 100%;
	height: 100%;
	background-color:#ffffff;
	
}	

h1{
	text-align: center;
	font-size: 4vh;
}

#p_pic{
    border-radius:50%;
	
    
}

.wrapper{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 400px 400px;
    color: #000;
    height:10%;
	margin-left:8%;
}
.matches{
    text-align: center;    
    color: red;
    
}

.matchOneImg{
    grid-column: 1;
    grid-row: 1;
    
}

.matchOneDesc {
    grid-column: 2;
    grid-row: 1;
    text-align: left;    
    
    
}

.matchTwoImg{
    grid-column: 1;
    grid-row: 2;
    
}

.matchTwoDesc {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    
    
}

.matchThreeImg{
    grid-column: 1;
    grid-row: 3;
    
}

.matchThreeDesc {
    grid-column: 2;
    grid-row: 3;
	text-align: left;
	
}

#match_pic {
	text-align: center;
}

#profile_name {
	text-align: center;
}

.slider {
	width: 80%;
	
}

.sliderValue {
	text-align: top;
	padding-left: 30px;
}

input[type=number] {
  -moz-appearance:textfield;
}