<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta charset="utf-8" />
	<title>ADMIN</title>
</head>
<body>
	<header class="adminHeader">
		<div id=adminHeaderLeft>Admin</div>
		<div id="adminHeaderRight"><a href="/">Logga ut</a></div>
	</header>
	<main>
		<div class="adminGridContainer">
			<div class="adminStatus"> Status: {{ statusInformation }} </div>
			<div class="adminCode"> {{ codeInformation }} </div>
			<div class="adminParticipants"> {{ participantsInformation }} //När alla joinat: {{ firstProfileInformation }}</div>
			<div class="adminMatches"> {{ matchesInformation }} </div> <!--TODO: Ladda in profiler från dummy_users.js-->
			<div class="adminSecondProfile"> {{ secondProfileInformation }} </div>
			<div class="adminThirdProfile"> {{ thirdProfileInformation }} </div>
		</div>
	</main>
</body>
</html>