<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <script type="text/javascript" src="js/dummy_users.js"></script>
    <script type="text/javascript" src="js/admin.js" defer></script>
    <meta charset="utf-8" />
    <title>ADMIN</title>
    
  </head>
  <body>
    <header class="adminHeader">
      <div id="adminHeaderLeft">Admin</div>
      <div id="adminHeaderRight"><a href="/">Logga ut</a></div>
    </header>
    <main>
      <div class="adminGridContainer">
	<div class="adminStatus"> Status: Date Ongoing</div>
	<div class="adminCode"> Please drag your matches! </div>
	<div class="adminParticipants">
	  <div class="funkaa">
	    <div class="splitter" ondrop="dropmale(event)" ondragover="allowDrop(event)">
	      <section id="sec0" draggable="true" ondragstart="drag(event)" class="userSec">
		<div id="user0pic" class="column"</div>
		     </section>
	    <section id="sec1" draggable="true" ondragstart="drag(event)" class="userSec">
	      <div id="user1pic" class="column"</div>
		   </section>
	  <section id="sec2" draggable="true" ondragstart="drag(event)" class="userSec">
	    <div id="user2pic" class="column"</div>
		 </section>
	<section id="sec3" draggable="true" ondragstart="drag(event)"class="userSec">
	  <div id="user3pic" class="column"</div>
	       </section>
      <section id="sec4" draggable="true" ondragstart="drag(event)"class="userSec">
	<div id="user4pic" class="column"</div>
	     </section>
<section id="sec5" draggable="true" ondragstart="drag(event)" class="userSec">
  <div id="user5pic" class="column"</div>
       </section>
<section id="sec6" draggable="true" ondragstart="drag(event)" class="userSec">
  <div id="user6pic" class="column"</div>
       </section>
<section id="sec7" draggable="true" ondragstart="drag(event)" class="userSec">
  <div id="user7pic" class="column"</div>
       </section>
<section id="sec8" draggable="true" ondragstart="drag(event)" class="userSec">
  <div id="user8pic" class="column"</div>			
       </section>
<section id="sec9" draggable="true" ondragstart="drag(event)"class="userSec">
  <div id="user9pic" class="column"</div>
       </section>
</div>
<div class="splitter" ondrop="dropfemale(event)" ondragover="allowDrop(event)">
  	      <section id="sec10" draggable="true" ondragstart="drag(event)" class="userSec">
		<div id="user10pic" class="column"</div>
		     </section>
	    <section id="sec11" draggable="true" ondragstart="drag(event)" class="userSec">
	      <div id="user11pic" class="column"</div>
		   </section>
	  <section id="sec12" draggable="true" ondragstart="drag(event)" class="userSec">
	    <div id="user12pic" class="column"</div>
		 </section>
	<section id="sec13" draggable="true" ondragstart="drag(event)"class="userSec">
	  <div id="user13pic" class="column"</div>
	       </section>
      <section id="sec14" draggable="true" ondragstart="drag(event)"class="userSec">
	<div id="user14pic" class="column"</div>
	     </section>
<section id="sec15" draggable="true" ondragstart="drag(event)" class="userSec">
  <div id="user15pic" class="column"</div>
       </section>
<section id="sec16" draggable="true" ondragstart="drag(event)" class="userSec">
  <div id="user16pic" class="column"</div>
       </section>
<section id="sec17" draggable="true" ondragstart="drag(event)" class="userSec">
  <div id="user17pic" class="column"</div>
       </section>
<section id="sec18" draggable="true" ondragstart="drag(event)" class="userSec">
  <div id="user18pic" class="column"</div>			
       </section>
<section id="sec19" draggable="true" ondragstart="drag(event)" class="userSec">
  <div id="user19pic" class="column"</div>
       </section>
  </div>
</div>
</div>
<div class="adminMatches">
  <div class="funkaa">
    <div class="splitter" ondrop="dropmale(event)" ondragover="allowDrop(event)" style="background-color:#989898;">
    </div>
    <div class="splitter" ondrop="dropfemale(event)" ondragover="allowDrop(event)">
      <div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
