<!DOCTYPE html>
<html lang="en">

<head>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/currentDate.css">

  <script>
    function rateYourDate(){
        window.open("/match");
    }
    </script>

	<title>Dejt nr. 1</title>
	<meta charset="utf-8" />


</head>

<body id="work_space">
	<h1> Nuvarande Dejt </h1>
	<section id="profile">
		<div id="match_pic"> <!--TODO: Hämta profilbild från profilen.-->
			<img id ="imgHere" src="https://image.shutterstock.com/z/stock-photo-half-body-shot-of-an-average-guy-wearing-a-blue-shirt-isolated-against-a-white-background-109512821.jpg" height="700px">
		</div>
		<div id="profile_name"> <!--TODO: Hämta namnet från profilen.-->
			<p>Sven Svensson, ÅLDER HÄR</p>
		</div>
		<div id="profile_desc">
			<p>
				BESKRIVNING HÄR 
			</p>
		</div>
		<div id = "timer">
			TIMER HERE
		</div>
	</section>
	
	<button onclick="rateYourDate()" id="rateYourDateKnapp" type="button" class="button">Avsluta dejten tidigt</button>


</body>
</html>
