<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/currentDateJS.js" defer></script>
  <link rel="stylesheet" type="text/css" href="css/currentDate.css">
  <script type="text/javascript" src="js/currentDate.js" defer></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://vuejs.org/js/vue.js"></script>

	<title>Dejt nr. 2</title>
	<meta charset="utf-8" />
</head>
<script>
  function rateYourDate(){
  location.href = "/ryd2";
  }
</script>
  <body id="work_space">
	<div id="current_date">
		<h1 id="date1"> Andra Dejten</h1>
		<section id="profile">
			<div id="match_pic">
				<!--TODO: Hämta profilbild från profilen.-->
				<img id="pic" :src="p1.pic" width="240px" height="150px">
			</div>
			<div id="profile_name">
				<p> {{ p1.name }} </p>
			</div>
			<div id="profile_age">
				<p> {{ p1.age }} År </p>
			</div>
			<div id="profile_desc">
				<p> {{ p1.desc }} <br /></p>
			</div>
			<div id="table">
			  <button onclick="rateYourDate()" id="finishEarly" type="button" class="button">Avsluta dejten tidigt</button>
				<p>Ni ska sitta vid bord:</p>
				<div id="tableSec">
					<div class="table" id="table0">1</div>
					<div class="table" id="table1">2</div>
					<div class="table" id="table2">3</div>
					<div class="table" id="table3">4</div>
					<div class="table" id="table4">5</div>
					<div class="table" id="table5">6</div>
					<div class="table" id="table6">7</div>
					<div class="table" id="table7">8</div>
					<div class="table" id="table8">9</div>
					<div class="table" id="table9">10</div>
				</div>
			</div>
			<br>
			
		</section>

		
		<div id="app"></div>	
	</div>
  </body>

</html>
