<!DOCTYPE html>
<html lang="en">

<head>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/currentDate.css">

  <script>
    function rateYourDate(){
      location.href = "/ryd3";

    }
    </script>

	<title>Dejt nr. 3</title>
	<meta charset="utf-8" />


</head>

<body id="work_space">
	<h1> Tredje dejten </h1>
	<section id="profile">
		<div id="match_pic"> <!--TODO: Hämta profilbild från profilen.-->
			<img id ="imgHere" src="https://previews.123rf.com/images/ljupco/ljupco1304/ljupco130400190/19122131-full-length-portrait-of-a-mature-gentleman-dancing-with-a-hula-hoop-isolated-on-white-background.jpg" height="700px">
		</div>
		<div id="profile_name"> <!--TODO: Hämta namnet från profilen.-->
			<p>Klas, ÅLDER HÄR</p>
		</div>
		<div id="profile_desc">
			<p>
				BESKRIVNING HÄR 
			</p>
		</div>
		<div id = "timer">
			TIMER HERE
		</div>
	</section>
	
	<button onclick="rateYourDate()" id="rateYourDateKnapp" type="button" class="button">Avsluta dejten tidigt</button>


</body>
</html>
