<!DOCTYPE html>
<html lang="en">

<head>
	<title>DELI-VERY</title>
</head>
<div id="workspace">
	<div id="profile_picture">
		<h1>-Profilbild-</h1>
		<!--TODO: Hämta profilbild och beskrivning-->
		<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffiles.brightside.me%2Ffiles%2Fnews%2Fpart_46%2F469710%2F20675310-shutterstock_767877281-1520420359-650-861db3dacf-1521020473.jpg&f=1&nofb=1"
			width="25%">
	</div>
	<div id="profile_description">
		<p>Hej jag heter Ingvar-Karl-Olof-Bertil Svensson och jag gillar traktor</p>
	</div>
	<button v-on:click="markDone()" id="tips" type="button" class="button">Frågetips</button>
	<!--TODO: Frågetips!-->
	<p>
		<h3>10:00</h3>
		<!--TODO: fungerande Timer!-->
		<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Ffree-icon%2Fhourglass_318-47301.jpg&f=1&nofb=1"
			width="10%">
	</p>
</div>

</html>