<!DOCTYPE html>
<html lang="en">

  <script type="text/javascript" src="js/currentProfile.js" defer></script>  
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/fragehjalp.css">
    Fråga din partner om dennes mest tragiska tenta!

  <script>
    function tbks(){
        location.href="/date1";
    }

  </script>
  </head>


  <body class="body">
  </body>

  <footer class="body">
    <button onclick="tbks()" id="dejt">
      Tillbaks till dejten :D
      </button>
  </footer>
