<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SPEED DEJTING</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

     <script>
      function openLogin() {
        if (email.value == "admin") {
          location.href = "/admin";
        }
        else {
          location.href = "/loggedIn";
        }
      }
    </script>
  </head>
  <body id ="work_space">
    <div>
    <h1>Logga in</h1>
    <form>
      <p>
	<label for="email"></label><br>
	<input v-model="email" type ="text" class = "input" id = "email" name = "email" required= "required" placeholder = "email"/>
      </p>
      <p>
	<label for="password"></label><br>
	<input v-model="password" type ="text" id = "password" class= "input" name = "password" required= "required" placeholder = "lösen" />
      </p>
      <button onclick="openLogin()" id="loginKnapp" type = "button" class ="input">LOGGA IN</button>
      <form>
	<p>
          <a href="reg">Registrera</a>
	</p>
      </form>
     
  </body>
</html>
