<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Logged In</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/loggedIn.css">  
    <script>
      function userPage() {
      location.href = "/profile";
      }
      function messagePage() {
      location.href = "/messages";
      }
      function match() {
      location.href = "/dejt1";
      }
	  function date() {
		location.href = "/date";
	  }
      
      function logOut() {
           
          location.href = "/";
       }
    </script>
  </head>
  <body id = "work_space">
    <button id="user_button" class="closing" onclick="userPage()"><img id ="User_Pic" src="img\user.png"/></button>  
	<button id="message_button" class="closing" onclick="messagePage()"><img id ="Message_Pic" src="img\message.png"/></button>
	<br>
	<br>
	<br>
	<h1> Börja Dejta! </h1>	
	<input type="text" id="Traff_ID" name="ID" required="required" placeholder="Träff-ID"/>
	<button id="heart_button" class="closing" onclick="match()"><img id = "Heart_Pic" src = "img\heart.png"/></button> 
    <button id="match" class="closing" onclick="date()">HITTA TRÄFF!</button>
  </body>
  <footer>
     <button id="signOut" class="button" onclick="logOut()">Logga ut</button>
  </footer>
</html>
<main>
</main>
