<!DOCTYPE html> 
<html lang="en">


  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/meetAgain.css">
  <script type="text/javascript" src="js/currentProfile.js" defer></script>
	<script src="js/meetAgain.js" defer></script>
	<script src="https://vuejs.org/js/vue.js"></script>
	<script src="/socket.io/socket.io.js"></script>


    <script>
      function meetAgain() {
          location.href = "/yourmatches";
      }
	  function exit() {
          location.href = "/loggedIn";
      }

      function logOut() {

          location.href = "/";
      }	  
    </script>
  </head>



<body id = "work_space">
<div id="vuePlace">
<div class="matches">
<h2>Skulle du vilja träffa någon av dina dejter igen?</h2>
<div class="wrapper">
	<section class="matchOneImg">
	  <img :src="p1.img" width="400" height="400" id = "p_pic">
	</section>

	<section class="matchOneDesc">
	<br>
	<br>
	  <input name="choice" type="radio" id="yes" name="meetAgain" required="required" class="yesno" v-model="p1.match" v-bind:value="true"> Yes! <br />
      <input name="choice" type="radio" id="no" name="meetAgain" required="required" class="yesno" v-model="p1.match" v-bind:value="false"> No <br />
	</section>




	<section class="matchTwoImg">
	  <img :src="p2.img" width="400" height="400" id = "p_pic" >
	  
	</section>
	<section class="matchTwoDesc">
		<br>
		<br>
        <input name="choice2" type="radio" id="yes2" name="meetAgain" required="required" class="yesno" v-model="p2.match" v-bind:value="true"> Yes! <br />
        <input name="choice2" type="radio" id="no2" name="meetAgain" required="required" class="yesno" v-model="p2.match" v-bind:value="false"> No <br />
	</section>


	<section class="matchThreeImg">
	  <img :src="p3.img" width="400" height="400" id = "p_pic">
	</section>
	<section class="matchThreeDesc" required="required">
		<br>
		<br>    
		<input name="choice3" type="radio" id="yes3" name="meetAgain" required="required" class="yesno" v-model="p3.match" v-bind:value="true"> Yes! <br />
        <input name="choice3" type="radio" id="no3" name="meetAgain" required="required" class="yesno" v-model="p3.match" v-bind:value="false"> No <br />
	</section>
 
	<p>
		<button id="meetAgainButton"  v-on:click="sendMatches()" type="button" class="button">Se dina matchningar</button>
	</p>
</div>
<div id="yourMatches" class="matches" v-if="seen">
      <h1>Här Är Dina Matchningar!</h1>

      <div class="wrapper">

	<section class="matchOneImg" v-if="p1.match">
	  <img :src="p1.img" width="400" height="400" id = "p_pic">
	</section>

	<section class="matchOneDesc" v-if="p1.match">
		  {{p1.name}}<br>
		  {{p1.age}} gammal<br>
		  bor i {{p1.loc}}<br>
		  tel {{p1.tel}}
	</section>




	<section class="matchTwoImg" v-if="p2.match">
	  <img :src="p2.img" width="400" height="400" id = "p_pic" >
	  
	</section>
	<section class="matchTwoDesc" v-if="p2.match">
		  {{p2.name}}<br>
		  {{p2.age}} gammal<br>
		  bor i {{p2.loc}}<br>
		  tel {{p2.tel}}
	</section>


	<section class="matchThreeImg" v-if="p3.match">
	  <img :src="p3.img" width="400" height="400" id = "p_pic">
	</section>
	<section class="matchThreeDesc" v-if="p3.match">
		  {{p3.name}}<br>
		  {{p3.age}} gammal<br>
		  bor i {{p3.loc}}<br>
		  tel {{p3.tel}}
	</section>
      </div>
    <main>
      <button id="homeButton" class="button" onclick="exit()">Tillbaka till startsidan</button>
      <br>
      <button id="signOut" class="button" onclick="logOut()">Logga ut</button>
    </main>	  
    </div>
	</div>
</body>
</html>
<main>
</main>
