<!DOCTYPE html> 
<html lang="en">


  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      function meetAgain() {
          window.open("/yourmatches");
      }
    </script>
  </head>



<body>
<div id="work_space" class="matches">
<h1>Would like to meet any of your dates again?</h1>

<div class="wrapper">

<section class="matchOneImg">
    <img src="https://i.pinimg.com/originals/00/92/3a/00923ab635eab15324ba162f796f0798.png" width="150" height="150">
	<!--  <button v-on:click="yes()" id="matchKnapp" type = "button" class ="button" >Yes!</button>

    	<button v-on:click="no()" id="matchKnapp" type = "button" class ="button" >No</button>
      -->
    <p>
        <input name="yes" type="checkbox" >Yes!
        <input name="no" type="checkbox" >No
    </p>
</section>

</div>
  <p>
<button onclick="meetAgain()" id="meetAgainButton" type="button" class="button">Se dina matchningar</button>
</p>
</body>
</html>
<main>
</main>
