<!DOCTYPE html> 
<html lang="en">


  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/meetAgain.css">

    <script>
      function meetAgain() {
          window.open("/yourmatches");
      }
    </script>
  </head>



<body id = "work_space">
<div class="matches">
<h2>Skulle du vilja träffa någon av dina dejter igen?</h2>

 <div class="wrapper">

	<section class="matchOneImg">
	  <img src="https://image.shutterstock.com/z/stock-photo-half-body-shot-of-an-average-guy-wearing-a-blue-shirt-isolated-against-a-white-background-109512821.jpg" width="400" height="400" id = "p_pic">
	</section>

	<section class="matchOneDesc">
	<br>
	<br>
	  <input name="choice" type="radio" id="yes" name="meetAgain" required="required" class="yesno" value="yes"> Yes! <br />
      <input name="choice" type="radio" id="no" name="meetAgain" required="required" class="yesno" value="no"> No <br />
	</section>




	<section class="matchTwoImg">
	  <img src="https://thumbs.dreamstime.com/z/successful-deal-happy-person-powerful-manager-713736.jpg" width="400" height="400" id = "p_pic" >
	  
	</section>
	<section class="matchTwoDesc">
		<br>
		<br>
        <input name="choice2" type="radio" id="yes2" name="meetAgain" required="required" class="yesno" value="yes"> Yes! <br />
        <input name="choice2" type="radio" id="no2" name="meetAgain" required="required" class="yesno" value="no"> No <br />
	</section>


	<section class="matchThreeImg">
	  <img src="https://previews.123rf.com/images/ljupco/ljupco1304/ljupco130400190/19122131-full-length-portrait-of-a-mature-gentleman-dancing-with-a-hula-hoop-isolated-on-white-background.jpg" width="400" height="400" id = "p_pic">
	</section>
	<section class="matchThreeDesc">
		<br>
		<br>    
		<input name="choice3" type="radio" id="yes3" name="meetAgain" required="required" class="yesno" value="yes"> Yes! <br />
        <input name="choice3" type="radio" id="no3" name="meetAgain" required="required" class="yesno" value="no"> No <br />
	</section>
      </div>


  <p>
<button onclick="meetAgain()" id="meetAgainButton" type="button" class="button">Se dina matchningar</button>
</p>
</body>
</html>
<main>
</main>
