<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Meddelanden</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/messages.css">
	<script src="js/message.js" defer></script>
	<script src="https://vuejs.org/js/vue.js"></script>
	<script src="/socket.io/socket.io.js"></script>
  </head>
  <body id = "work_space">
	<h1>Dina Meddelanden</h1>
	
	<div id = "messages">
		<div id = "read_message" v-if="seen" v-on:click="seen = !seen">
			<p>
				Hej och välkommen till LÖVE! <br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>	
		<div id = "message" v-on:click="seen = !seen">
			<p>
				Från: LÖVE TEAM <br>
				Om: Välkommen till LÖVE!
			</p>
		</div>
		<div id = "read_message2" v-if="matchSeen" v-on:click="matchSeen = !matchSeen">
			<p>
				Dina matchningar! <br>
					  <div class="wrapper">

					<section class="matchOneImg" v-if="p1.match">
					  <img :src="p1.img" width="400" height="400" id = "p_pic">
					</section>

					<section class="matchOneDesc" v-if="p1.match">
					  {{p1.name}}<br>
					  {{p1.age}} gammal<br>
					  bor i {{p1.loc}}<br>
					  tel {{p1.tel}}
					</section>




					<section class="matchTwoImg" v-if="p2.match">
					  <img :src="p2.img" width="400" height="400" id = "p_pic" >
					  
					</section>
					<section class="matchTwoDesc" v-if="p2.match">
					  {{p2.name}}<br>
					  {{p2.age}} gammal<br>
					  bor i {{p2.loc}}<br>
					  tel {{p2.tel}}
					</section>


					<section class="matchThreeImg" v-if="p3.match">
					  <img :src="p3.img" width="400" height="400" id = "p_pic">
					</section>
					<section class="matchThreeDesc" v-if="p3.match">
					  {{p3.name}}<br>
					  {{p3.age}} gammal<br>
					  bor i {{p3.loc}}<br>
					  tel {{p3.tel}}
					</section>
					  </div>				
			</p>
		</div>	
		<div id = "message" v-if="recievedMessage" v-on:click="matchSeen = !matchSeen">
			<p>
				Från: LÖVE TEAM <br>
				Om: Dina matchningar!
			</p>
		</div>
	
	</div>
	<p id = "go_back">
		<a href="loggedIn">Tillbaka</a>
	</p>
	
  </body>
</html>
<main>
</main>
