<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Profil</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/profile.css"> 
  <script type="text/javascript" src="js/currentProfile.js" defer></script>
	<script src="js/profile.js" defer></script>
	<script src="https://vuejs.org/js/vue.js"></script>
  </head>
  <body id = "work_space">
	<h1>Din Profil</h1>
	<div id = "page"> 
	<div id = "editing" v-if="seen">
		<p>	
			<label for="fullname">Profilbild (URL)</label><br>
			<input v-model="img_url" type="text" id="picture_change" name="description" required="required"/> <br>
			
			<label for="fullname">Beskrivning</label><br>
			<textarea v-model="description" rows="4" cols="30" id="desc_change" name="description" required="required"></textarea>
		</p>
		<button id = "save"  v-on:click="seen = !seen" class="closing">Spara</button>
	</div>
	<div id = "Profile">
		<img :src = "img_url" id = "profile_pic" width = "450"/>
		<p id = "name_age">
			{{name}} {{age}} {{gender}}
		<p>
			{{description}}
		</p>
	</div> 
		<button id = "edit" v-on:click="seen = !seen" class="closing">Redigera profil</button>
	</div>
	<p id = "go_back">
		<a href="loggedIn">Tillbaka</a>
	</p>
  </body>
</html>
<main>
</main>
