<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrera</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/register.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="text/javascript" src="js/dummy_users.js"></script>
    <script>
      function openLogin() {
      window.open("/");
      }
    </script>
  </head>
  <body>
    <div id ="work_space">
    <h1>REGISTRERA</h1>
    <form name="registrationForm" >
      <p>
	<label for="email"></label>
	<input v-model="email" type ="text" id = "email" name = "email" required= "required" placeholder = "email" />
      </p>
      <p>
	<label for="password"></label>
	<input v-model="password" type ="text" id = "password" name = "password" required= "required" placeholder = "lösen" />
      </p>
      <p>
	<label for="namn"></label>
	<input v-model="namn" type ="text" id = "namn" name = "namn" required= "required" placeholder = "namn" />
      </p>
      <p>
        <label for="age"></label>
        <input v-model="age" type="number" id="age" name="age" required="required" placeholder="ålder" />
      </p>
      <p>
        <label for="description"></label>
        <textarea v-model="description" type="text" rows="4" cols="30" maxlength="140" id="description" name="description" required="required" placeholder="beskrivning (140 tecken)"></textarea>
      </p>

       <label  for="Gender">Kön:</label>

          <input v-model="gender" type="radio" id="male" name="gender" value="Male" required="required" placeholder="gender">
          Man
          
          
          <input v-model="gender" type="radio" id="female" name="gender"  value="Female" required="required" placeholder="gender">
          Kvinna
          
      <p>
        <input   name="Terms of use" type="checkbox" required="required">Terms of use
                                 
      </p>
           <p>
        <input required name="Privacy Policy" type="checkbox" required="required">Privacy policy
                                 
           </p>
                <p>
        <input name="Nyhetsbrev" type="checkbox">Jag vill ha erbjudanden och nyhetsbrev!
                                 
        </p>
      <button onclick="openLogin()" id="loginKnapp" type = "button" class ="button"  >Hitta Kärleken</button>
      </form>
    </div>
  </body>
</html>
