<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="stylesheet" type="text/css" href="css/style.css">
	  <link rel="stylesheet" type="text/css" href="css/report.css">
    <script type="text/javascript" src="js/reportVue.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script>
      function regret() {
          location.href="/regret2";
      }
      </script>
    
    
    <h1 id="rubrik">
      <u> Rapportera Användare </u>
    </h1>


  </head>
  
  <body>
   
      <div id="rep">
        
        <p>
          
	        <label for="report"></label><br>
	        <input type ="text" id = "anmal" class= "input" name = "report" required= "required" placeholder = "Berätta gärna vad som hänt" />
        </p>
        
        
        

        <button id="regret" onclick="regret()">
          Tillbaka
        </button>
        
        <button id="report" v-on:click="report1()">
          Anmäl
        </button>
      </div>
  
  </body>
</html>
