<!DOCTYPE html>
<html lang="en">

<head>
	<title>Date timer</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/currentProfile.js" defer></script>
  <script>
    function rate1() {
        location.href = "/ryd2"
    }
  </script>
</head>

<body>
  <section id="dateProfile">
    <div id="match_pic"> <!--TODO: Hämta profilbild från profilen.-->
			<img src="https://image.shutterstock.com/z/stock-photo-half-body-shot-of-an-average-guy-wearing-a-blue-shirt-isolated-against-a-white-background-109512821.jpg" width="200px">
		</div>
    <div id="profile_name"> <!--TODO: Hämta namnet från profilen.-->
			<p>Sven Svensson</p>
		</div>
  </section>
  <button id="questionTips">FRÅGETIPS</button> <!--TODO: FIXA FUNKTIONALITET-->
   <section id="timer">
    10:00<br> <!--TODO: FIXA TIMER.-->
   </section>

      <button onclick="rate1()">GÅ VIDARE</button>

</body>
