<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wait for admin</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/waiting.css">
    <script type="text/javascript" src="js/waitVue.js" defer ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script>
      function openLogin() {
        if (email.value == "admin") {
          location.href = "/admin";
        }
        else {
          location.href = "/loggedIn";
        }
      }
    </script>
  </head>
  <body id="work_space">
    <div id="vueWait">
    <p id="waitAdmin" style="text-align: center; padding-top: 33%; font-size: 30px; font: arial;"> Waiting for admin</p>
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    <p style="text-align: center; fonr: arial; color: gray;">Tip: Remember, be yourself!</p>
    </div>
  </body>
</html>
