<!DOCTYPE html> 
<html lang="en">
  <head >
    <title>Matches</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="work_space" class="matches">
      <h1>Here are your matches!</h1>

      <div class="wrapper">

	<section class="matchOneImg">
	  <img src="https://i.pinimg.com/originals/00/92/3a/00923ab635eab15324ba162f796f0798.png" width="150" height="150">
	</section>

	<section class="matchOneDesc">
	  Name<br>
	  Age<br>
	  Adress<br>
	  Phone Number
	</section>




	<section class="matchTwoImg">
	  <img src="https://i.pinimg.com/originals/00/92/3a/00923ab635eab15324ba162f796f0798.png" width="150" height="150">
	  
	</section>
	<section class="matchTwoDesc">
	  Name<br>
	  Age<br>
	  Adress<br>
	  Phone Number
	</section>


	<section class="matchThreeImg">
	  <img src="https://i.pinimg.com/originals/00/92/3a/00923ab635eab15324ba162f796f0798.png" width="150" height="150">
	</section>
	<section class="matchThreeDesc">
	  Name<br>
	  Age<br>
	  Adress<br>
	  Phone Number
	</section>
      </div>


  </body>
</html>
<main>
</main>
