<!DOCTYPE html> 
<html lang="sv">
  <head >
    <title>Matchningar</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script>
      function exit() {
          window.open("/loggedIn")
      }

      function logOut() {

          window.open("/")
      }
    </script>

    <button id="signOut" class="button" onclick="logOut()">Logga ut</button>
  </head>
  <body id = "work_space">
    <div class="matches">
      <h1>Här Är Dina Matchningar!</h1>

      <div class="wrapper">

	<section class="matchOneImg">
	  <img src="https://image.shutterstock.com/z/stock-photo-half-body-shot-of-an-average-guy-wearing-a-blue-shirt-isolated-against-a-white-background-109512821.jpg" width="130" height="130" id = "p_pic">
	</section>

	<section class="matchOneDesc">
	  Sven Svensson<br>
	  30 gammal<br>
	  Bor i Farsta<br>
	  Tel. 0707070789
	</section>




	<section class="matchTwoImg">
	  <img src="https://thumbs.dreamstime.com/z/successful-deal-happy-person-powerful-manager-713736.jpg" width="130" height="130" id = "p_pic" >
	  
	</section>
	<section class="matchTwoDesc">
	  Stefan<br>
	  18 gammal<br>
	  Bor i Uppsala<br>
	  Tel. 112
	</section>


	<section class="matchThreeImg">
	  <img src="https://previews.123rf.com/images/ljupco/ljupco1304/ljupco130400190/19122131-full-length-portrait-of-a-mature-gentleman-dancing-with-a-hula-hoop-isolated-on-white-background.jpg" width="130" height="130" id = "p_pic">
	</section>
	<section class="matchThreeDesc">
	  Klas<br>
	  90 gammal<br>
	  Bor i Fezt-city<br>
	  Tel. 0732678523
	</section>
      </div>


  </body>
</html>
<main>
  <button id="homeButton" class="button" onclick="exit()">Tillbaka till startsidan</button>
</main>
